html {
	height: 100%;
}

body {
	font-family: arial;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

a {
	color: #247BA0;
	text-decoration: none;
}

p {
	margin: 0;
}

.header {
	padding: 0.5rem;
	border-bottom: 1px black solid;
	display: flex;
	flex-direction: column;
}

.name {
	margin: 0;
}

.links {
	display: flex;
}

.links p {
	margin-right: 0.75rem;
	padding-right: 0.75rem;
	border-right: 1px black solid;
}

.links p:last-child {
	border: none;
}

.app {
	display: flex;
	padding: 0.5rem;
	height: 100%;
}

.app h2 {
	margin: 0.6rem 0;
}

.app ul {
	margin: 0;
}

.projects {
	width: 34%;
	height: 100%;
	border-right: 1px black solid;
}

.demo-link {
	cursor: pointer;
	color: #247BA0;
	user-select: none;
}

.demo-link:hover {
	text-decoration: underline;
}

.notes p {
	text-indent: 1rem;
	font-size: 0.75rem;
}

.project-list {
	font-size: 2rem;
}

.description {
	width: 66%;
}

.description div {
	padding: 0 0.2rem;
	height: 100%;
	overflow-y: scroll;
}

.description div img {
	max-width: 100%;
	max-height: 50%;
	display: block;
	margin: 0 auto;
}

